# Admin site
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Kafka
DOCKER_HOST_IP=

# Flask
FLASK_DEBUG=
FLASK_SECRET_KEY=

# Sentry
SENTRY_DNS=

# Databases
SQLALCHEMY_TRACK_MODIFICATIONS=

# Postgres
DB_PASSWORD=
